.env
node_modules
logs
temp
dist

.idea
.DS_Store

yarn.lock
package-lock.json

# dump them yourself silly
dumped_scripts

# not what you think it is.
tests

# config
config.jsonc

# nop!
src/Commands/Discord/ExperimentRollout.ts
