# all kinds of things
.env
node_modules
logs
temp
dist

.idea
.DS_Store

yarn.lock
package-lock.json

# config
config.jsonc

# the maze isn't meant for you
tests
dumped_scripts
src/Commands/Discord/ExperimentRollout.ts
scripts/find_out_whos_right_and_whos_not.ts
scripts/findInScripts.ts
scripts/funny.ts
scripts/scripts.json